
<div class="container">

  <form (submit)="onSubmit(isEdit)">
    <div class="form-group">
      <label>name</label>
      <input type="text" class="from-control" name = "name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label>email</label>
      <input type="text" class="from-control" name = "email" [(ngModel)]="user.email">
    </div>
    <div class="form-group">
      <label>phone</label>
      <input type="text" class="from-control" name = "phone" [(ngModel)]="user.phone">
    </div>
    <input type="submit" class="btn btn-success" value = "Submit">
  </form>

<hr>

  <div *ngFor="let user of users">
    <div class="well">
      <ul class="list-group">
        <li class="list-group-item">name: {{user.name}}</li>
        <li class="list-group-item">email: {{user.email}}</li>
        <li class="list-group-item">phone: {{user.phone}}</li>
      </ul>

      <button class="btn btn-danger" (click) = "onDeleteClick(user.id)">X</button>
      <button class="btn btn-danger" (click) = "onEditClick(user)">Edit</button>

      <a class = "btn btn-primary pull-right" [(routerLink)] = "'/user/'+user.id">detail</a>
    </div>
  </div>
</div>